<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <add key="fonbetUrl" value="https://www.fonbet.com/live/?locale=ru#3" />
    <add key="fonbetDriver" value="chrome" />
    <add key="fbLogin" value="3876111" />
    <add key="fbPwd" value="2sH4c4e4" />

    <add key="wlUrl" value="https://winlinebet46.com/now/" />
    <!--<add key="wlDriver" value="phantom"/>-->
    <!--<add key="wlDriver" value="firefox"/>-->
    <!--<add key="wlDriver" value="chrome"/>-->
    <add key="wlDriver" value="chrome" />
    <add key="wlLogin" value="adwaer" />
    <add key="wlPwd" value="almirka123" />

    <add key="formHeight" value="457" />
    <add key="formWidth" value="990" />
    <add key="columnWidths" value="" />


    <add key="defaultCefTotal" value="5" />
    <add key="defaultCefHandicap" value="3" />
    <add key="defaultAmountTotal" value="100" />
    <add key="defaultAmountHandicap" value="100" />

    <!--<add key="autobetting" value="file" />-->
    <add key="autobetting" value="live" />
  </appSettings>
</configuration>